*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  /*
For styling pop up window
*/
.help{
  /*want to pop up window to follow them always*/
  position: fixed;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 10px;
  /* we want our pop up window to draw between everything else */
  z-index: 10;
  background-color: #deebf4;
  width: 500px;
  max-width: 80%;
}

.help-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.help-header .title{
  font-size: 1.25rem;
  font-weight: bold;
}

.help-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size:1.25rem;
  font-weight: bold;
}

.help-body{
  padding: 10px 15px;

}

#overlay{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, .5);
  /* our overlap wont capture our click events*/
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}



